[submodule "src/utils"]
	path = src/utils
	url = https://github.com/bytesmith-ahmad/my-python-utils
[submodule "src/my-python-utils"]
	path = src/utils
	url = https://github.com/bytesmith-ahmad/my-python-utils
